td, th {
  padding: .75em;
  text-align: center;
}

th {
  background-color: #5e5e5e;
  border: .15em solid black;
  color: white;
  cursor: pointer;
}

tr {
  &:hover {
    color: white;
    cursor: default;
  }
}

tr:nth-child(odd) {
  background-color: #d7d7d7;
}


tr:nth-child(even) {
  background-color: #a5a2a2;
}

button {
  background: inherit;
  border: .125em solid darkgreen;
  cursor: pointer;
  color: white;
  &:disabled {
    border: .125em solid darkgray;
    background-color: darkgray;
  }
}

select {
  margin: 1em;
  cursor: pointer;
  border: .125em solid darkgreen;
}